# Виртуальное окружение
.venv/
venv/
env/

# Файлы Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Файлы IDE
.idea/
.vscode/
*.iml

# Логи
*.log

# Файлы окружения
.env
.env.local

# Базы данных
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db